/* CSS Document */
*{ margin:0; padding:0;}
body{ font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#333333;}
a{ text-decoration:none;}
a img{ border:0;}
.top_box{ width:100%; height:38px; border-top:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2; background:#f5f5f5;}
.top{ width:1200px; height:38px; line-height:38px; margin: 0 auto;}
.top_a{ width:50%; float:left;}
.top_b{ width:50%; float:left;}
.top_b a{ float:right; color:#333333;}
.top_b span{ float:right; display:inline-block; margin:0 10px;}
.top_b a:hover{ color:#005bac;}
.top1_box{ width:100%; height:142px; overflow:hidden;}
.top1{ width:1200px; height:142px; margin: 0 auto;}
.logo{ width:561px; height:142px; float:left;}
.search_box{ width:316px; height:88px; padding-top:54px; float:left;}
.search_box_a{ width:212px; padding:0 10px; margin-left:20px; font-size:14px; color:#333333; height:37px; line-height:37px; border:1px solid #e3e3e3; float:left;}
.search_box_b{ width:52px; height:39px; background:url(../images/icon1.png) no-repeat center center; border:0; cursor:pointer;}
.top1_right{ width:230px; height:104px; padding-top:38px; float:right;}
.menu_box{ width:100%; height:70px; background:#005bac; border-bottom:3px solid #004b8e; position:relative;}
.menu{ width:1200px; height:70px; margin:0 auto; text-align:center;}
.menu a{ display:inline-block; height:70px; padding:0 40px; color:#fff;}
.menu_a{ padding-top:18px; height:22px; font-size:16px;}
.menu_b{ padding-bottom:15px; height:15px; font-size:12px;}
.menu a:hover{ background:#fff100; color:#000000 !important;}
.menu_in{ width:100%; height:40px; background:url(../images/tm_bg.png) repeat; position:absolute; bottom:-40px; text-align:center; display:none;}
.menu_in a{ line-height:40px; font-size:14px; color:#fff; display:inline-block;}
.menu_in span{ padding:0 10px; line-height:40px; font-size:14px; color:#fff; display:inline-block;}
.banner_box{ width:100%; height:auto; overflow:hidden;position:relative;}
.main_image{height:577px;overflow:hidden;position:relative;}
.main_image ul{width:9999px;height:577px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;height:577px;list-style: none;}
.main_image li span{display:block;width:100%;height:577px}
.main_image li a{display:block;width:100%;height:577px}
.flicking_con{position:absolute;top:510px;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -50px;}
.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../images/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
.flicking_con a.on{background-position:0 -21px}
.main_box{ width:100%; height:421px; background:#edf1f4;}
.main{ width:1200px; height:421px; margin:0 auto; position:relative;}
.main_a{ width:1200px; height:104px; padding:18px 0; background:#fff; position:absolute; top:-18px; box-shadow:0 0 10px rgba(0,0,0,0.2);}
.main_a_in{ width:297px; height:104px; display:inline-block; text-align:center; float:left;}
.line{ width:1px; height:104px; display:inline-block; background:#edf1f4; float:left;}
.main_a_in_a{ padding-top:13px;}
.main_a_in_b{ font-size:18px; color:#000;}
.main_b{ width:1200px; padding-top:177px; height:auto; overflow:hidden;}
.main_b_a{ width:1200px; height:52px; text-align:center;}
.main_b_b{ width:1000px; height:auto; padding: 22px 100px; font-size:16px; color:#000; line-height:35px; text-align:center;}
.main_b_c{ width:1200px; height:auto; overflow:hidden;}
.main_b_c a{ width:96px; height:36px; text-align:center; line-height:36px; font-size:14px; color:#fff; background:#005bac; display:block; margin:0 auto;}
.main1_box{ width:100%; height:605px; background: url(../images/bg1.png) repeat-x;}
.main1{ width:1200px; height:605px; overflow:hidden; margin:0 auto;}
.main1_a{ width:1200px; height:82px; text-align:center; padding-top:67px; padding-bottom:78px;}
.main1_b{ width:1200px; height:260px;}
.main1_b_a{ width:37px; height:117px; background:url(../images/left.png) no-repeat center center; float:left; margin-top:71px; margin-left:3px;}
.main1_b_c{ width:37px; height:117px; background:url(../images/right.png) no-repeat center center; float:left; margin-top:71px;}
.main1_b_in{ width:1120px; height:260px; float:left; overflow:hidden;}
.main1_b_in li { list-style:none;}
.main1_b_in_box{ width:258px; height:258px; border:1px solid #d4d9dd; float:left; text-align:center; margin:0 10px;}
.main1_b_in_box img{ width:258px; height:180px;}
.main1_b_in_box span{ width:258px; height:78px; line-height:78px; color:#000; font-size:14px;}
.main2_box{ width:100%; height:966px;}
.main2{ width:1200px; height:966px; overflow:hidden; margin:0 auto;}
.main2_a{ width:1200px; height:52px; margin-top:112px; overflow:hidden;}
.main2_a_a a{ float:right; color:#000; font-size:24px;}
.main2_b{ width:1200px; height:auto; overflow:hidden; padding-top:40px;}
.main2_b_a{ width:272px; height:645px; overflow:hidden; float:left;}
.main2_b_a_a{ width:270px; height:78px; line-height:78px; text-align:center; border:1px solid #c2c2c2; color:#333; font-size:24px;}
.main2_b_a_b{ width:196px; height:505px; background:#005bac; padding:0 38px;}
.main2_b_a_b a{ width:160px; height:62px; line-height:62px; padding-left:36px; color:#fff; font-size:16px; display:inline-block; border-bottom:1px dashed #0a63b2;}
.main2_b_a_b a:hover{ color:#fff100;}
.main2_b_a_b a.active{ color:#fff100;}
.main2_b_a_c{ width:272px; height:60px;}
.main2_b_b{ width:928px; height:645px; float:left;}
.main2_b_b_in_box{ width:258px; height:258px; border:1px solid #d4d9dd; float:left; text-align:center; margin: 0 0 40px 40px;}
.main2_b_b_in_box:hover{ border:1px solid #005bac; box-shadow:0 0 10px rgba(0,91,192,0.3);}
.main2_b_b_in_box img{ width:258px; height:180px;}
.main2_b_b_in_box span{ width:258px; height:78px; line-height:78px; color:#000; font-size:14px;}
.main3_box{ width:100%; height:612px; background:#005bac;}
.main3{ width:1200px; height:612px; overflow:hidden; margin:0 auto;}
.main3_a{ width:1200px; height:76px; text-align:center; margin-top:45px; margin-bottom:36px;}
.main3_b{ width:1200px; height:407px; overflow:hidden; background:url(../images/youshi.jpg) no-repeat center center;}
.main4_box{ width:100%; height:auto;}
.main4{ width:1235px; height:auto; overflow:hidden; margin:0 auto;}
.main4_a{ width:1200px; height:48px; margin:0 auto; margin-top:83px; margin-bottom:57px;}
.main4_a a{ float:right; color:#999999; font-size:16px;}
.main4_b{ width:1235px; height:auto; overflow:hidden;}
.main4_b a{ width:195px; height:75px; border:1px solid #e3e3e3; float:left; margin: 0 25px 25px 25px;}
.main4_b a img{ width:195px; height:75px;}
.bottom_box{ width:100%; height:auto; overflow:hidden;}
.bottom_box_a{ width:100%; height:258px; overflow:hidden; background:#191919;}
.bottom_box_b{ width:100%; height:64px; overflow:hidden; background:#141414; text-align:center;}
.bottom_box_a_in{ width:1200px; height:auto; overflow:hidden; padding-top:80px; margin:0 auto;}
.bottom_box_a_in_left{ width:718px; height:auto; overflow:hidden; float:left;}
.bottom_box_a_in_left_a{ width:718px; height:auto; overflow:hidden; color:#ababab; font-size:22px; line-height:30px;}
.bottom_box_a_in_left_b{ width:718px; height:auto; overflow:hidden; color:#777777; font-size:12px; line-height:20px;}
.bottom_box_a_in_left_c{ width:718px; height:auto; overflow:hidden; color:#ababab; font-size:16px; line-height:24px; padding-top:20px;}
.bottom_box_a_in_center{ width:100px; height:auto; overflow:hidden; float:left; color:#777777; text-align:center; font-size:12px; line-height:20px;}
.bottom_box_a_in_center img{ width: 100%; height: auto; }
.bottom_box_a_in_right{ width:350px; height:auto; overflow:hidden; float:right; text-align:right;}
.bottom_box_a_in_right_a{ width:350px; height:auto; overflow:hidden; color:#ababab; font-size:22px; line-height:30px;}
.bottom_box_a_in_right_b{ width:350px; height:auto; overflow:hidden; color:#fff; font-size:36px;}
.bottom_box_a_in_right_c{ width:350px; height:auto; overflow:hidden; color:#ababab; font-size:14px; line-height:24px; padding-top:20px;}
.bottom_box_b a{ display:inline-block; line-height:64px; color:#777777; font-size:14px;}
.bottom_box_b span{ display:inline-block; line-height:64px; color:#777777; font-size:14px; padding:0 15px;}
.in_banner_box{ width:100%; height:auto; overflow:hidden;}
.in_banner_box img{ width:100%;}
.in_main_box{ width:100%; height:auto; overflow:hidden;}
.in_main{ width:100%; height:auto; background:#f4f4f4;}
.in_main_a{ width:1200px; height:102px; margin:0 auto;}
.in_main_a_a{ float:left;}
.in_main_a_b{ float:right;}
.in_main_a_b1{ width:13px; height:16px; margin-top:43px; float:left; background:url(../images/icon6.png) no-repeat center center;}
.in_main_a_b2{ height:102px; line-height:102px; float:left; color:#999; font-size:16px; padding-left:14px;}
.in_main_a_b2 a{ color:#999;}
.in_main1{ width:100%; height:auto; overflow:hidden;}
.in_main1_in{ width:1200px; height:auto; margin:0 auto; background:url(../images/in_bg1.png) no-repeat top center;}
.in_main1_in_a{ width:1200px; height:auto; min-height:703px; overflow:hidden;}
.in_main1_in_a_a{ width:1200px; height:auto; padding-top:142px; overflow:hidden; text-align:center; color:#005bac; font-size:28px;}
.in_main1_in_a_b{ width:1200px; height:auto; padding-top:44px; text-align:center; color:#333333; font-size:16px; line-height:28px;}
.in_main1_in_a_c{ width:1200px; height:auto; padding:40px 100px; overflow:hidden; text-align:center;}
.in_main2{ width:1200px; height:auto; margin:0 auto; overflow:hidden;}
.in_main2_a{ width:1200px; height:auto; text-align:center; margin:90px 0 70px 0;}
.in_main2_b{ width:1200px; height:auto; overflow:hidden; color:#333333; font-size:24px; text-align:center;}
.in_main2_c{ width:1200px; height:auto; overflow:hidden; padding:100px 0; text-align:center;}
.in_main2_d{ width:1200px; height:523px; overflow:hidden; background:url(../images/in_bg3.jpg) no-repeat top center; margin-bottom:80px;}
.in_main2_d_in{ width:344px; height:160px; overflow:hidden; margin:220px 0 0 200px; float:left; color:#333333; font-size:22px; line-height:40px;}
.in_main3{ width:1000px; height:83px; margin:0 auto; overflow:hidden; background:#e1e1e1; padding:0 100px; padding-top:17px;}
.in_main3_a{ width:812px; padding:0 10px; font-size:16px; color:#333333; height:65px; line-height:65px; background:#fff; border:0; float:left;}
.in_main3_b{ width:168px; height:65px; background:url(../images/search2.jpg) no-repeat center center; border:0; cursor:pointer;}
.in_main4{ width:1200px; height:auto; padding:35px 0 20px 0; overflow:hidden; margin: 0 auto;}
.in_main4_a{ width:272px; height:auto; overflow:hidden; float:left;}
.in_main4_a_a{ width:270px; height:78px; line-height:78px; text-align:center; border:1px solid #c2c2c2; color:#333; font-size:24px;}
.in_main4_a_b{ width:272px; height:auto; background:#005bac; padding-bottom:40px;}
.in_main4_a_b_in{ width:272px; height:auto; overflow:hidden;}
.in_main4_a_b_in_a{ width:160px; height:62px; line-height:62px; padding-left:36px; color:#fff; font-size:16px; display:inline-block; border-bottom:1px dashed #0a63b2; margin-left:38px;}
.in_main4_a_b_in_a:hover{ color:#fff100;}
.in_main4_a_b_in_a.active{ color:#fff100;}
.in_main4_a_c{ width:272px; height:154px;}
.in_main4_a_b_in_box{ width:272px; padding:10px 0; overflow:hidden; height:auto; background:#004c8f; display:none;}
.in_main4_a_b_in_box a{ width:192px; height:auto; padding-left:80px; height:24px; font-size:14px; color:#fff; display:inline-block;}
.in_main4_a_b_in_box a span{ width:4px; height:4px; display:block; background:#fff; float:left; margin: 10px 10px 0 0;}
.in_main4_a_b_in_box a:hover{ color:#fff100;}
.in_main4_a_b_in_box a:hover span{ background:#fff100;}
.in_main4_a_b_in_box a.active{ color:#fff100;}
.in_main4_a_b_in_box a.active span{ background:#fff100;}
.in_main4_b{ width:928px; height:auto; float:left; overflow:hidden;}
.in_main4_b_in_box{ width:258px; height:258px; border:1px solid #d4d9dd; float:left; text-align:center; margin: 0 0 40px 49px;}
.in_main4_b_in_box:hover{ border:1px solid #005bac; box-shadow:0 0 10px rgba(0,91,192,0.3);}
.in_main4_b_in_box img{ width:258px; height:180px;}
.in_main4_b_in_box span{ width:258px; height:78px; line-height:78px; color:#000; font-size:14px;}
.in_main5{ width:1200px; height:auto; padding:0 0 40px 0; overflow:hidden; margin: 0 auto;}
.in_main5_a{ width:272px; height:50px; float:left;}
.in_main5_b{ width:928px; height:50px; float:left;}
.in_main6{ width:1172px; height:auto; padding: 36px 14px; overflow:hidden; margin: 0 auto; margin-top: 30px;}
.in_main6 a{ width:100px; height:60px; line-height:60px; float:left; display:block; background:#f4f4f4; text-align:center; color:#000; font-size:16px;}
.in_main6 a:hover{ background:#005bac; color:#fff;}
.in_main6 a.active{ background:#005bac; color:#fff;}
.in_main7{ width:1200px; height:auto; overflow:hidden; margin:0 auto; margin-bottom: 30px;}
.in_main7 img{ max-width:100%; height:auto;}
.in_main8{ width:1200px; height:auto; overflow:hidden; margin:0 auto; line-height:28px; font-size:14px; color:#333; display:none; margin-bottom: 30px;}
.in_main8 img{ max-width:100%; height:auto;}
.in_main8 table{ width:100%; box-sizing:border-box;}
.in_main9{ width:1235px; height:auto; overflow:hidden; margin:0 auto; padding:60px 0;}
.in_main9 a{ width:195px; height:75px; border:1px solid #e3e3e3; float:left; margin: 0 25px 25px 25px;}
.in_main9 a img{ width:195px; height:75px;}
.in1_main_box{ width:100%; height:auto;}
.in1_main{ width:1200px; height:auto; margin:0 auto; position:relative; padding-top:336px;}
.in1_main_a{ width:1200px; height:411px; background:url(../images/in_bg4.jpg) no-repeat center center; position:absolute; top:-75px; left:0;}
.in1_main_a_a{ width:700px; padding:0 35px; height:411px; float:left;}
.in1_main_a_a1{ width:700px; height:auto; overflow:hidden; font-size:28px; color:#000; margin-top:83px;}
.in1_main_a_a2{ width:700px; height:auto; overflow:hidden; font-size:14px; color:#999; margin-top:10px;}
.in1_main_a_a3{ width:700px; height:auto; overflow:hidden; font-size:14px; color:#999; margin-top:50px;}
.in1_main_a_a3_in{ height:40px; line-height:40px; float:left; margin-bottom:20px;}
.in1_main_a_a3_in_a{ width:40px; height:40px; float:left;}
.in1_main_a_a3_in_b{ height:40px; line-height:40px; font-size:20px; color:#000; float:left; padding:0 10px;}
.in1_main_a_b{ width:360px; height:301px; float:left; padding:95px 70px 0 0; text-align:right; font-size:40px; color:#005bac; font-weight:bold; letter-spacing: -4px;}
.in2_main{ width:1200px; height:auto; overflow:hidden; margin:0 auto; padding-top:30px; padding-bottom:50px;}
.xmap{ width:1198px; height:auto; border:1px solid #e1e2e3;}
.fright_box{ width:44px; height:auto; position:fixed; right:40px; top:30%; z-index:999;}
.fright_box a{ width:44px; height:44px; display:block; margin-bottom:5px;}
.in_main5_b ul{ text-align: center; }
.in_main5_b li{ list-style: none; padding: 10px 15px; border: 1px solid #eee;  background: #fff; display: inline-block; margin: 0 5px; font-size: 16px; color:#00111a;}
.in_main5_b li a{ font-size: 16px; color:#00111a; }
.in_main5_b li.active{ border: 1px solid #005bac;  background: #005bac; color: #fff;}























